name: Database CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  db-ci:
    runs-on: ubuntu-22.04

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          SA_PASSWORD: YourStrong!Passw0rd
          ACCEPT_EULA: "Y"
        ports:
          - 1433:1433
        options: >-
          --health-cmd="pgrep sqlservr"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install sqlcmd
        run: |
          sudo apt-get update
          sudo apt-get install -y mssql-tools unixodbc-dev
          echo 'export PATH="$PATH:/opt/mssql-tools/bin"' >> ~/.bashrc
          source ~/.bashrc

      - name: Make migration script executable
        run: chmod +x ./database/apply-migrations.sh

      - name: Wait for SQL Server
        run: sleep 20

      - name: Apply migrations
        run: ./database/apply-migrations-ci.sh
