name: Database CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  db-ci:
    runs-on: ubuntu-22.04

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: agile_cms_dev
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install MySQL client
        run: |
          sudo apt-get update
          sudo apt-get install -y mysql-client

      - name: Make migration script executable
        run: chmod +x ./database/mysql/apply-migrations-ci.sh

      - name: Wait for MySQL to be ready
        run: sleep 20

      - name: Apply migrations
        env:
          DB_HOST: 127.0.0.1
          DB_USER: root
          DB_PASSWORD: rootpassword
          DB_NAME: agile_cms_dev
        run: ./database/mysql/apply-migrations-ci.sh

